# Exercises week 1

## Beginner exercises

**Ex 1**: In the cell below, write a short text that demonstrates that you can
* Create a section with a heading
* Write words in bold and italics
* Establish a [hyperlink](https://en.wikipedia.org/wiki/Hyperlink)

# REDI - Lesson 1

**Python learning day one** <br>
*In Italics* <br>
[in hyperlink](http://localhost:8889/notebooks/exercises_week1.ipynb)

**Ex 2** Calculate the remainder of the division of 18 by 7.

In [ ]:
result = 18 % 7
result

4

**Ex 3** Calcuate 3 to the power of 4; i.e. $3^4$

In [ ]:
result = 3**4
result

81

**Ex 4** Calculate the square root of 49

In [ ]:
num = 49
sqroot = num*num
sqroot

2401

**Ex 5** Convert the following string to a float and round it to the nearest 3 digits after the decimal

In [ ]:
pi = "3.14159265"
float(pi)

3.14159265

**Ex 6** **Convert** the variable number=4.9 to an integer

In [ ]:
num = 4.9
num = int(num)
num

4

**Ex 7** Now round number=4.9 to the **nearest** integer. What is the difference between the converted number of the previous exercise and this exercise?

In [ ]:
num = 4.9
print('The round of 4.9 is: ', round(num))

The round of 4.9 is:  5

**Ex 8** Calculate the length of the following list (i.e. how many names are in the list) and print each of its values separated by a newline. The output of the print statement(s) should look like this: \
\
Miriam \
Tim \
Jing \
...

In [ ]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
print(len(names))

6

In [ ]:
for i in names:
    print(i)

Miriam
Tim
Jing
Carlos
Ruben
Ashley

**Ex 9** Add a list with the following new names to the previous list \
new_names = ["Pablo", "Lise"]

In [ ]:
new_names = ["Pablo", "Lise"]
for i in new_names:
    names.append(i)
print(names)

['Miriam', 'Tim', 'Jing', 'Carlos', 'Ruben', 'Ashley', 'Pablo', 'Lise']

**Ex 10** Print the second and second to last name of the newly created list. The output should be Tim and Pablo

In [ ]:
print(names[1],',',names[-2])

Tim , Pablo

**Ex 11** Calculate the sum and the average of the value in the following list

In [ ]:
age = [11, 22, 33, 44, 22, 55]

In [ ]:
total=sum(age)
average=sum(age)/len(age)
print('Sum: {} \nAverage: {}'.format(total,average))

Sum: 187
Average: 31.166666666666668

**Ex 12** Sort the age list in an ascending (increasing) order and get the count of the number 22 within the list (i.e; calculate how often the number 22 appears in the age list

In [ ]:
age.sort()
print(age)

[11, 22, 22, 33, 44, 55]

In [ ]:
for i in age:
    if age.count(i) > 1:
        print('{} appears in the age list {} times'.format(i, age.count(i)))
        break

22 appears in the age list 2 times

**Ex 13** Write a function to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

**I am asking user to give three numbers with a space in between**

In [ ]:
num1,num2,num3 = input('Enter 3 numbers with space: ').split(' ')
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

Enter 3 numbers with space: 4 4 4

**Here I have defined a function to do the addition part of the given numbers**

In [ ]:
def calc(n1,n2,n3):
  total = n1 + n2 + n3
  return total

**Here in the below cell I have used condition to check if these 3 numbers are same or not and if same then the number will be multiplied by 3**

In [ ]:
if num1 == num2 and num1 == num3:
  mult = num1 * 3
  print('The numbers are same and three times of their sum is : {} and the sum of numbers is: {}'.format(mult, calc(num1,num2,num3)))
else:
  print('Three numbers are not same!')
  print('The sum of three given numbers is: ', calc(num1,num2,num3))

The numbers are same and three times of their sum is : 12 and the sum of numbers is: 12

**Ex 14** Write a function to check if a value is within the following list. The output should look like this:\
Miriam was found in the list\
Peter was not found in the list

In [ ]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]

In [ ]:
name = input('Please enter a name to check if it is in the list or not: ')

if any(name in x for x in names):
  print('{} was found in the list'.format(name))
else:
  print('{} was not found in the list'.format(name))

Please enter a name to check if it is in the list or not: Ruben
Ruben was found in the list

**Ex 15** Write a function that will accept the base and height of a triangle and compute the area. The area of a triangle is calculate as Area= 0.5 * height * base

In [ ]:
def area(b,h):
  return (0.5*b*h)

base, height = input('Enter the base and height of a triangle with comma: ').split(',')

print('The area of the given triangle with base: {} and height: {} is: {}'.format(base,height,area(int(base),int(height))))

Enter the base and height of a triangle with comma: 6,3
The area of the given triangle with base: 6 and height: 3 is: 9.0

## Intermediate exercises

**Ex1** Print **only** the strings within the following list. Use the isinstance function to compare the type of a variable against its expected type

In [ ]:
students = ["Miriam", 22, "Tim", 25, "Jing", 28, "Carlos"]

for i in students:
  if isinstance(i,str)==True:
    print(i)

Miriam
Tim
Jing
Carlos

**Ex 2** For the following two lists, print the student name followed by their age. HINT: use the zip function

In [ ]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
ages =  [25, 22, 24, 33, 22, 21, 20]

print(list(zip(names,ages)))

[('Miriam', 25), ('Tim', 22), ('Jing', 24), ('Carlos', 33), ('Ruben', 22), ('Ashley', 21)]

**Ex 3** Create a dictionary which keys are the names of the students and the corresponding values are their age. The dictionary should look like this \
{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

In [ ]:
student = {names[i]:ages[i] for i in range(len(names))}
print(student)

{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

**Ex 4** Create a nested dictionary to assign to each student their age and grade. The output should look like this \
{'Miriam': {'age': 25, 'grade': 12},
 'Tim': {'age': 22, 'grade': 12},
 'Jing': {'age': 24, 'grade': 12},
 'Carlos': {'age': 33, 'grade': 10},
 'Ruben': {'age': 22, 'grade': 7},
 'Ashley': {'age': 21, 'grade': 10}}

In [ ]:
grades = [12, 12, 12, 10, 7, 10]

student = {names[i]:{'ages':ages[i],'grades':grades[i]} for i in range(len(names))}
print(student)

{'Miriam': {'ages': 25, 'grades': 12}, 'Tim': {'ages': 22, 'grades': 12}, 'Jing': {'ages': 24, 'grades': 12}, 'Carlos': {'ages': 33, 'grades': 10}, 'Ruben': {'ages': 22, 'grades': 7}, 'Ashley': {'ages': 21, 'grades': 10}}

**Ex 5** Miriam decided to drop out of the class. Remove her entry in the students dictionary.

In [ ]:
del student['Miriam']
print(student)

{'Tim': {'ages': 22, 'grades': 12}, 'Jing': {'ages': 24, 'grades': 12}, 'Carlos': {'ages': 33, 'grades': 10}, 'Ruben': {'ages': 22, 'grades': 7}, 'Ashley': {'ages': 21, 'grades': 10}}

**Ex 6** First, generate a sequence of numbers from 1 to 20. Then print **only** the numbers for which the remainder is 0 when being divided by 6. E.g. 12 because 12/6 = 2. The output should be 6, 12 and 18

In [ ]:
newlist = [x for x in range(1,21) if x%6==0]

In [ ]:
newlist

[6, 12, 18]

**Ex 7** Generate  \
"The holidays will begin on: 25/11/1992"  \
from the following tuple

In [ ]:
date = (25, 11, 1992)

In [ ]:
'/'.join([str(value) for value in date])

'25/11/1992'

**Ex 8** Write a function to find whether a given number is even or odd, print out an appropriate message.

In [ ]:
def even_odd(num):
  if num % 2 == 0:
    print(num,' is an even number')
  else:
    print(num,' is not an even number')

In [ ]:
num = int(input('Enter a number: '))
even_odd(num)

Enter a number: 8
8  is an even number

**Ex 9** Make a program ask for a name, and then write a greeting using that name.\
HINT: use the input function to get the user input (e.g. name=input("Write your username"))

\
The output should look similar to this:\
Please type your username Adrian\
Hello Adrian.

In [ ]:
def greeting():
  name=input("Please type your username: ")
  print('Hello ',name)

greeting()

Please type your username: Sugandh
Hello  Sugandh

**Ex 10** Ask for two numbers and ask what operation to perform on them (+, - , *, /) and display the numbers and the result. Again, use the input function.\
The output should look like this

\
Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 1 1.5 +\
The result is: 2.5


Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 2 2 *\
The result is: 4.0

In [ ]:
def calc(n1,n2,opt):
  if opt == '+':
    result = n1+n2
  if opt == '-':
    result = n1-n2
  if opt =='*':
    result = n1*n2
  if opt == '/':
    result = n1/n2
  print('The result is: ',result)

num1, num2, opr = input('Please type two numbers and a mathematical operator to perform on them, seperated with space: ').split(' ')
calc(int(num1),int(num2),opr)

Please type two numbers and a mathematical operator to perform on them, seperated with space: 8 2 *
The result is:  16

**Ex 11** Write a function to calculate the factorial (n!) (e.g. 4! = 4 * 3 * 2 * 1. Perform input control. For example, the input must be a positive integer. Thus, if the input is negative, the function should return an error message. The same applies for inputs with type float or str.\

The output should look like:\
1 = factorial(0)\
1 = factorial(1)\
6 = factorial(3)\
24 = factorial(4)

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else: 
        return num*factorial(num-1)

n = int(input('Enter a number to get it\'s factorial number: '))
print(factorial(n))

Enter a number to get it's factorial number: 7
5040

**Ex 12** Write a program (using functions!) that asks the user for a long string containing multiple words. Print back to the user the same string, except with the words in backwards order. For example, say I type the string:

  My name is Michele\
Then I would see the string:

  Michele is name My\
shown back to me.

In [ ]:
def words():
  value = tuple(input('Enter a sentence please: ').split(' '))
  print('Reversed sentence of yours is: ', ' '.join(value[::-1]))

words()

Enter a sentence please: My name is Sugandh
Reversed sentence of yours is:  Sugandh is name My

**Ex 13** Write a small function to check if a string is a Palindrome (https://en.wikipedia.org/wiki/Palindrome)

The output could look like this:

Tenet is a Palindrome\
China is not Palindrome

In [ ]:
def palin(value):
  rever = value[::-1]
  #print(rever)
  if value == rever:
    print(value, 'is a Palindrome.')
  else:
    print(value,' is not a Palindrome.')

In [ ]:
name = input('Enter a string to check for Palindrome: ')
palin(name.lower())

Enter a string to check for Palindrome: Tenet
tenet is a Palindrome.