<a href="https://colab.research.google.com/github/sugban/REDI-Data-Analytics-/blob/main/Lesson%205/Lesson_5_exercises_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

#### In this exercises session, you will continue with the bike dataset. Please load it first.

In [39]:
df_bike = pd.read_csv('data/bikesharing.csv')
df_bike

                 timestamp   cnt   t1  ...  is_holiday  is_weekend  season
0      2015-01-04 00:00:00   182  3.0  ...         0.0         1.0     3.0
1      2015-01-04 01:00:00   138  3.0  ...         0.0         1.0     3.0
2      2015-01-04 02:00:00   134  2.5  ...         0.0         1.0     3.0
3      2015-01-04 03:00:00    72  2.0  ...         0.0         1.0     3.0
4      2015-01-04 04:00:00    47  2.0  ...         0.0         1.0     3.0
...                    ...   ...  ...  ...         ...         ...     ...
17409  2017-01-03 19:00:00  1042  5.0  ...         0.0         0.0     3.0
17410  2017-01-03 20:00:00   541  5.0  ...         0.0         0.0     3.0
17411  2017-01-03 21:00:00   337  5.5  ...         0.0         0.0     3.0
17412  2017-01-03 22:00:00   224  5.5  ...         0.0         0.0     3.0
17413  2017-01-03 23:00:00   139  5.0  ...         0.0         0.0     3.0

[17414 rows x 10 columns]

#### Convert the "timestamp" column to an actual timestamp. With the first timestamp in the list, find 2 new members and 2 new members functions. Hint: after typing the dot "." click a "Tab" and explore the list.

In [40]:
df_bike['timestamp']=pd.to_datetime(df_bike['timestamp'], format="%Y-%m-%d %H:%M:%S")
df_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  datetime64[ns]
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(1)
memory usage: 1.3 MB

In [41]:
df_bike['week']=df_bike['timestamp'][0].weekday()
df_bike['day']=df_bike['timestamp'].dt.day_name()
df_bike['hour']=df_bike['timestamp'].dt.hour
df_bike

                timestamp   cnt   t1   t2  ...  season  week      day  hour
0     2015-01-04 00:00:00   182  3.0  2.0  ...     3.0     6   Sunday     0
1     2015-01-04 01:00:00   138  3.0  2.5  ...     3.0     6   Sunday     1
2     2015-01-04 02:00:00   134  2.5  2.5  ...     3.0     6   Sunday     2
3     2015-01-04 03:00:00    72  2.0  2.0  ...     3.0     6   Sunday     3
4     2015-01-04 04:00:00    47  2.0  0.0  ...     3.0     6   Sunday     4
...                   ...   ...  ...  ...  ...     ...   ...      ...   ...
17409 2017-01-03 19:00:00  1042  5.0  1.0  ...     3.0     6  Tuesday    19
17410 2017-01-03 20:00:00   541  5.0  1.0  ...     3.0     6  Tuesday    20
17411 2017-01-03 21:00:00   337  5.5  1.5  ...     3.0     6  Tuesday    21
17412 2017-01-03 22:00:00   224  5.5  1.5  ...     3.0     6  Tuesday    22
17413 2017-01-03 23:00:00   139  5.0  1.0  ...     3.0     6  Tuesday    23

[17414 rows x 13 columns]

#### How many full weeks does this dataset cover? (a full week meaning from Monday to Sunday)

In [42]:
ts=df_bike['timestamp'][0]
ts.week

1

#### What was the maximum temperature (column: t1) recorded on a Friday night (between 10p.m. and 6a.m.)?

In [77]:
mask1 = df_bike['day']=='Friday'
mask2 = df_bike['hour']>=22
mask3 = df_bike['day']=='Saturday'
mask4 = df_bike['hour']<=6

In [78]:
df_bike['t1'][mask1&mask2].max()

21.5

In [79]:
df_bike['t1'][mask3&mask4].max()

20.0

#### Try to figure out what the single values of the column: weather_code mean. Create a new column which contains names of the seasons.

In [82]:
df_bike['Season_Name']=pd.cut(df_bike['weather_code'], bins=[0.0,1.0,2.0,3.0,4.0], include_lowest=True, labels=['Spring','Summer','Fall','Winter'])
df_bike

                timestamp   cnt   t1   t2  ...  week      day  hour  Season_Name
0     2015-01-04 00:00:00   182  3.0  2.0  ...     6   Sunday     0         Fall
1     2015-01-04 01:00:00   138  3.0  2.5  ...     6   Sunday     1       Spring
2     2015-01-04 02:00:00   134  2.5  2.5  ...     6   Sunday     2       Spring
3     2015-01-04 03:00:00    72  2.0  2.0  ...     6   Sunday     3       Spring
4     2015-01-04 04:00:00    47  2.0  0.0  ...     6   Sunday     4       Spring
...                   ...   ...  ...  ...  ...   ...      ...   ...          ...
17409 2017-01-03 19:00:00  1042  5.0  1.0  ...     6  Tuesday    19         Fall
17410 2017-01-03 20:00:00   541  5.0  1.0  ...     6  Tuesday    20       Winter
17411 2017-01-03 21:00:00   337  5.5  1.5  ...     6  Tuesday    21       Winter
17412 2017-01-03 22:00:00   224  5.5  1.5  ...     6  Tuesday    22       Winter
17413 2017-01-03 23:00:00   139  5.0  1.0  ...     6  Tuesday    23       Summer

[17414 rows x 14 columns]

#### What was the average number of bike rides in winter? How was the number in the summer? What can you say about these numbers and is a direct comparison the right thing to do? Why? Why not?

In [84]:
df_bike.groupby('Season_Name')['cnt'].mean()

Season_Name
Spring    1162.088943
Summer    1496.177491
Fall      1195.124472
Winter     635.230874
Name: cnt, dtype: float64